:root {
  --text-color: purple;
}

@font-face {
  font-family: Playfair;
  src: url(Assets/PlayfairDisplay.ttf);
}

.App {
  text-align: left;
  height: 100vh;
  overflow: hidden;
  font-family: Playfair;
  color: #d13642;
  background-color: #fdedb2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  padding-left: 2%;
  padding-right: 2%;
  height: 10vh;
  width: 96vw;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  font-size: calc(8px + 2vmin);
  position: absolute;
  top: 0;
  z-index: 2;
  font-family: sans-serif;
}

.leftHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  font-weight: 600;
}

.rightHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  width: 50%;
  font-weight: 600;
  justify-content: flex-end;
}

.rightHeader a {
  margin-left: 2%;
  border: solid #d1364375;
  color: rgba(209, 54, 67, 0.824);
  border-radius: 8px;
  padding: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.1s ease-in-out;
}

.rightHeader a:nth-child(3) {
  background-color: #d13642;
  color: #fdedb2;
  min-width: fit-content;
}

.rightHeader a:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.App-link {
  color: inherit;
  text-decoration: none;
}

.body {
  min-height: 80vh;
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainText {
  font-size: 4.2em;
  font-weight: bolder;
}

.smallText {
  font-size: 0.8em !important;
  font-style: italic;
  font-weight: 400;
}

#refreshIcon {
  position: absolute;
  right: 3%;
  bottom: 5%;
  font-size: 4em;
  transition: 0.1s ease-in-out;
}

#refreshIcon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.watermark {
  font-size: 1em;
  opacity: 0.5;
  font-weight: bold;
  margin-top: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .body {
    min-height: 100vh;
  }

  .App-header {
    width: 90vw;
    padding-left: 5%;
    padding-right: 5%;
    font-size: calc(9px + 2vmin);
    /* flex-flow: column; */
  }

  /* .rightHeader {
    width: 55%;
    margin-top: 5%;
    margin-right: 0%;
    flex-direction: column-reverse;
    align-items: stretch;
  }*/

  .rightHeader a {
    margin-right: 4%;
    padding: 8%;
  }

  .leftHeader {
    display: none;
  }

  .rightHeader {
    flex-direction: row-reverse;
    margin-top: 5%;
    width: 60%;
    justify-content: flex-end;
  }

  .mainText {
    font-size: 2.5em;
    font-weight: bolder;
  }

  .smallText {
    font-size: 0.8em !important;
    font-style: italic;
    font-weight: 400;
  }

  #refreshIcon {
    right: 8%;
    bottom: 3%;
  }
}

/* 
{bg, text}
{FDEDB2, D13642}
{009bc6, ffd15e}
{F1D3D3, 1539CF} 
{B1FDEA, 28292B}
{28292B, FF0046} meh type
need lighter soothing color schemes = pastel colors. 
*/
